<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class='text-danger'>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, style: 'width: 100%', maxlength: 140 %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, style: 'width: 100%', maxlength: 200 %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body,
      style: 'width: 100%',
      rows: 8,
      data: { controller: "textarea-autogrow" },
      maxlength: 5000,
      placeholder: 'Type your blog post here'
    %>
  </div>

  <div>
    <%= form.label :premium %>
    <%= form.check_box :premium %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
