<div class="card">
  <div class="card-body">
    <h3>
      <%= premium_label(post.premium) %>
      <%= link_to_unless_current post.title, post %>
    </h3>

     <p class="fst-italic">
      <%= post.description %>
    </p>

    <% if controller_name == 'posts' && action_name == 'show' %>
      <p>
        <%= markdown(post.body) %>
      </p>
    <% end %>
    <%= Like.count %>likes
</div>

  <div class="card-footer">
    <p>
      <strong>By:</strong>
      <%= link_to post.user.email, post.user %>
    </p>

    <p>
      <strong>Created_at:</strong>
      <%= post.created_at.strftime('%d %b %Y') %>
    </p>
  </div>
</div>
<br>
