<div class="card">
  <div class="card-body">
    <h3>
      <%= premium_label(post.premium) %>
      <%= link_to_unless_current highlight(post.title, params.dig(:q, :title_or_description_cont)), post %>
    </h3>

     <p class="fst-italic">
      <%= highlight(post.description, params.dig(:q, :title_or_description_cont)) %>
    </p>

    <% if controller_name == 'posts' && action_name == 'show' %>
      <p>
        <%= markdown(post.body) %>
      </p>
    <% end %>

</div>

  <div class="card-footer">
    <p>
      <strong>By:</strong>
      <%= link_to post.user.email, post.user %>
    </p>

    <p>
      <strong>Created_at:</strong>
      <%= post.created_at.strftime('%d %b %Y') %>
    </p>
  </div>
</div>
<br>
