<div class="card">
  <div class="card-body">
    <p>
      <strong>Title:</strong>
      <!--<%= post.title %>-->
      <%= link_to_unless_current post.title, post %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= markdown(post.body) %>
    </p>

    <% if current_user %>
      <%= render 'posts/upvote_link', post: post %>
      <%= render 'posts/like_count', post: post %>
      <%= render 'posts/downvote_link', post: post %>
    <% end %>

  </div>
  <div class="card-footer">
    <p>
      <%= premium_label(post.premium) %>
    </p>
    <p>
      <strong>By:</strong>
      <%= link_to post.user.email, post.user %>
    </p>

    <p>
      <strong>Created_at:</strong>
      <%= post.created_at.strftime('%d %b %Y') %>
    </p>
  </div>
</div>

