<p style="color: green"><%= notice %></p>
<h1>
    Post: <%= @posts.length %> /
    <%= Post.count %>
</h1>

<%= search_form_for @q do |f| %>
    <%= f.label :title %>
    <%= f.search_field :title_or_description_cont %>

    <%= f.select :premium_eq, [['Premium', true], ['Free', false]], include_blank: 'Type' %>
    <%= f.collection_select :user_email_cont, User.joins(:posts).distinct, :email, :email, include_blank: 'Author' %>

    <%= f.submit %>
    <% if params[:q].present? %>
        <%= link_to users_path do %>
            <i class="fa-solid fa-redo"></i>
            Clear search
        <% end %>
    <% end %>
<% end %>

<hr>

<div id="posts">
  <%= render @posts %>
</div>
<br>

<%= link_to "New post", new_post_path %>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
